@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#header {
  position: fixed;
  background: #232536;
}
#header nav {
  padding: 10px 0;
  background: #232536 !important;
}
#header nav .navbar-collapse {
  flex-grow: 0;
}
#header nav .navbar-collapse ul li {
  padding: 0px 12px;
}
#header nav .navbar-collapse ul li a {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
#header nav .navbar-collapse ul li a:hover {
  color: #ffd050;
}
#header nav .navbar-collapse button {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  padding: 16px 48px;
  background: white;
}
#header nav .navbar-collapse button:hover {
  background: #ffd050;
}
#header nav .navbar-collapse button a {
  color: black;
}

footer {
  background: #232536;
  padding: 40px 0px;
}
footer p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer .footer_right {
  display: flex;
  align-items: center;
}
footer .footer .footer_right img {
  padding-left: 15px;
}

main {
  padding-bottom: 50px;
}
main #home {
  height: 100vh;
  background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
main #home img {
  padding-top: 3.8rem;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
main #home .information_post {
  position: absolute;
  top: 35vh;
  left: 50;
}
main #home .information_post .blog_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}
main #home .information_post .post_title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 64px;
  letter-spacing: -2px;
  color: #ffffff;
  max-width: 800px;
}
main #home .information_post .post_creat {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: #ffd050;
}
main #home .information_post .post_creat span {
  color: white;
}
main #home .information_post .post_description {
  max-width: 600px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: #ffffff;
}
@media screen and (max-width: 577px) {
  main #home .information_post .post_description {
    display: none;
  }
  main #home .information_post .post_title {
    font-size: 2rem;
    line-height: 3rem;
  }
}
main #home .information_post button {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #232536;
  background: #ffd050;
  padding: 1rem 2rem;
}
main #home .information_post button:hover {
  background: #e8b016;
}
main #blogs .blogs-title {
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
main #blogs .carusel {
  padding-bottom: 70px;
  border-bottom: 1px solid #d7d9e1;
}
main #blogs .carusel .card {
  border: none;
  width: 98%;
}
main #blogs .carusel .card .card-body {
  padding: 10px 0px;
}
@media screen and (max-width: 1200px) {
  main #blogs .carusel .card {
    width: 100%;
  }
}
main #catagory {
  padding: 50px 0px;
}
main #catagory .catagory_title {
  padding-bottom: 50px;
  text-align: center;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
main #catagory .item {
  border: 1px solid #d4d5df;
  padding: 32px;
}
main #catagory .item:hover {
  background: #ffd050;
  border: #ffd050;
}
main #catagory .item:hover .catalog_img {
  background: #fbf6ea;
  border-radius: 15px;
}
main #catagory .item .catalog_img {
  max-width: 50px;
  height: 50px;
}
main #catagory .item .catalog_img img {
  width: 100%;
}
main #catagory .item .cotalog_title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
}
main #catagory .item .cotalog_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 232px;
  color: #6d6e76;
}/*# sourceMappingURL=index.css.map */