@import "../global";

#login {
  padding: 25vh 0;
  .login-title {
    padding-bottom: 20px;
    font-family: "Sen";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -2px;
    color: #232536;
    padding-bottom: 55px;
  }
  input {
    width: 65%;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 20px 5px;
  }
  button {
    display: block;
    margin: 15px auto;
    width: 65%;
    padding: 24px;
    background: $Yellow;
    border: none;
    font-weight: 700;
    &:hover {
      background: #eabc3e;
    }
  }
}
