@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#header {
  position: fixed;
  background: #232536;
}
#header nav {
  padding: 10px 0;
  background: #232536 !important;
}
#header nav .navbar-collapse {
  flex-grow: 0;
}
#header nav .navbar-collapse ul li {
  padding: 0px 12px;
}
#header nav .navbar-collapse ul li a {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
#header nav .navbar-collapse ul li a:hover {
  color: #ffd050;
}
#header nav .navbar-collapse .button {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  padding: 16px 48px;
  background: white;
}
#header nav .navbar-collapse .button:hover {
  background: #ffd050;
}
#header nav .navbar-collapse .button a {
  color: black;
}

footer {
  background: #232536;
  padding: 40px 0px;
}
footer p {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer .footer_right {
  display: flex;
  align-items: center;
}
footer .footer .footer_right img {
  padding-left: 15px;
}

main {
  padding: 100px 0;
}
main #all_post_top .sec-top {
  border-bottom: 1px solid rgb(191, 191, 191);
}
main #all_post_top .sec-top input {
  outline: none;
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
main #all_post_top .sec-top h2 {
  padding: 30px 0;
}
main #blog {
  padding-top: 80px;
  padding-bottom: 100px;
}
main #blog .item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(223, 222, 222);
}
main #blog .item .img {
  width: 35%;
}
main #blog .item .img img {
  width: 100%;
}
main #blog .item .text {
  width: 60%;
  padding: 0 20px;
}
main #blog .item .text .blog_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  color: #592ea9;
  letter-spacing: 3px;
  text-transform: uppercase;
}
main #blog .item .text h3 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  letter-spacing: -2px;
  color: #232536;
}
main #blog .item .text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
main #blog .item .button button {
  margin-top: 5px;
  display: block;
}